<aside class="left_widgets p_filter_widgets">
  <div class="l_w_title">
    <h3><%= t "pages.category" %></h3>
  </div>
  <div class="widgets_inner">
    <ul class="list">
      <% @categories.each do |category| %>
        <li><a href="#"><%= category.name %></a></li>
      <% end %>
    </ul>
  </div>
</aside>
