<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify"><i>ELECTRONIC SHOP</i> is dedicated to delivering high quality, new, and innovative products. Customer satisfaction and continued support from our loyal customers is the driving force behind our team. We take pride in our user-friendly and secure website, which allows customers to shop with ease from their own home, office, or on the go. Every item listed on our website is in stock, ready to ship, and includes a warranty unless marked otherwise.</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="#">Laptop</a></li>
          <li><a href="#">Computer screen</a></li>
          <li><a href="#">Computer accessories</a></li>
          <li><a href="#">PC Gaming, Streaming</a></li>
          <li><a href="#">Keyboard, Mouse, Chair</a></li>
          <li><a href="#">Camera, Speak</a></li>
          <li><a href="#">Other</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Contribute</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
</footer>
